<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/grid.css">
</head>
<body>
    <%- include('navbar', {active:'/category'}) %>
    <div class="container">
        <% locals.categories.forEach(category => {%>
            <a href="/category/category-page/<%= category.id %>">
                <div class="card" style="background-image: url('<%= category.imgurl%>');">
                    <div class="black-tint">
                        <h2><%= category.name %></h2>
                    </div>
                </div>
            </a>
        <% }); %>
    </div>
    <%- include('footer')%>
</body>
</html>