<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.name %></title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/game-page.css">
</head>
<body>
    <%- include('navbar') %>
    <section class="main">
        <div class="left">
            <img src="<%= locals.cover_img_url %>" width="100%" alt="<%=locals.name%>">
        </div>
        <div class="right">
            <img src="<%= locals.logo_img_url %>" height="40px" alt="<%=locals.name%>">
            <p><%=locals.disc%></p>
            <div class="categories">
                <% locals.category.forEach(cate => {%>
                    <a href="/category/<%= cate.id %>">
                        <button class="category"><%= cate.name %></button>
                    </a>
                <% }); %>
            </div>
            <h2>₹ <%=locals.price%></h2>
            <p><strong>Rating : </strong><%=locals.rating%></p>
            <p><strong>Publisher : </strong><%=locals.publisher%></p>
            <p><strong>Released : </strong><%=locals.release_date%></p>
            <p><em>Units available in stock: </em> <%= locals.stock %></p>
        </div>
    </section>
    <%- include('footer')%>
</body>
</html>